<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Book</h1>
	<div>
		<form style="padding:10px;" th:object="${book}" th:action="@{/savebook}" action="#" method="post">
			<label for="author">Author:</label><br>
			<input type="text" id="author" th:field="${book.author}" /><br>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="title">Title:</label><br>
			<input type="text" id="title" th:field="${book.title}" /><br>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="isbn">ISBN:</label><br>
			<input type="text" id="isbn" th:field="${book.isbn}" /><br>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="year">Year:</label><br>
			<input type="number" id="year" th:field="${book.year}" /><br>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="price">Price:</label><br>
			<input type="text" id="price" th:field="${book.price}" /><br>
			
			<div style="clear: both; display: block; height: 10px;"></div>
		  	 <label for="categorylist">Category:</label>
			 <select id="categorylist" th:field="${book.category}" class="form-control" style="width:100px;">
       			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option> 
    		 </select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<br>
			<input type="submit" value="Add" class="btn btn-success"/>
		</form>
	</div>
    
</body>
</html>
	